distrib
packages
native/*/work*
native/*/build*
native/*/status*
cross/*/work*
cross/*/build*
cross/*/status*
kernel/*/work*
python/*/work*
python/*/build*
python/*/status*
fpk/*/work*
fpk/*/build*
fpk/*/publish*
fpk/*/status*
fpk/*/wheel*
diyspk/*/work*
diyspk/*/build*
diyspk/*/status*
toolchain/*/work*
toolchain/*/build*
toolchain/*/status*
toolkit/*/work*
local.mk
*.DS_Store
*~

# PyCharm project settings
.idea
