/* List view customized style */
.FnOScommunity-gentoochroot-list {
	background-color: #E1ECFA !important;
}

.FnOScommunity-gentoochroot-list .x-list-selected {
	background-image: url(images/list_item_active.png);
	background-position: right top;
	color: #FFF;
}
.FnOScommunity-gentoochroot-list .x-list-over {
	background-image: url(images/list_item_hover.png);
	background-position: right top;
	color: #FFF;
}

.FnOScommunity-gentoochroot-list-column div {
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 16px;
	line-height: 16px;
}

.FnOScommunity-gentoochroot .FnOScommunity-gentoochroot-list .x-panel-body {
	background-color: #E1ECFA;
	background-image: url(images/FnOScommunity.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

/* List view icons */
.FnOScommunity-gentoochroot-list-overview {
	background-image: url(images/overview.png);
	margin-left: 16px;
}
.FnOScommunity-gentoochroot-list-services {
	background-image: url(images/services.png);
	margin-left: 16px;
}

/* Titles */
.FnOScommunity-gentoochroot-list-column div.FnOScommunity-gentoochroot-list-console_title {
	margin-top: 8px;
	padding-left: 0;
	color: #003C66 !important;
	font-weight: bold;
}

.x-list-over .FnOScommunity-gentoochroot-list-column div.FnOScommunity-gentoochroot-list-console_title {
	cursor: default;
}

.FnOScommunity-gentoochroot-compositefield-button {
    left: auto;
    right: 0;
}

.ext-ie8 .FnOScommunity-gentoochroot .x-toolbar-cell .x-form-field-trigger-wrap .x-form-trigger {
	right: auto
}
