name: Lint

on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    paths-ignore:
      - "**.md"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Lint
        run: |
          npm install jsonlint
          find fpk/ \
           -not -path "*work*" \
           -not -path "fpk/transmission/src/settings.json" \
           -not -path "*/wizard_templates/install" \
           -not -path "*/wizard_templates/upgrade" \
           -regextype posix-extended \
           -regex '.*(\.json|install\w*|upgrade\w*|app/config)' \
           | xargs -i node_modules/jsonlint/lib/cli.js -q -c {};
